<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.felix.mall.mapper.CmsPrefrenceAreaProductRelationMapper">
  <resultMap id="BaseResultMap" type="com.felix.mall.entity.CmsPrefrenceAreaProductRelation">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="prefrence_area_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, prefrence_area_id, product_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_prefrence_area_product_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_prefrence_area_product_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.felix.mall.entity.CmsPrefrenceAreaProductRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_prefrence_area_product_relation (prefrence_area_id, product_id)
    values (#{prefrenceAreaId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.felix.mall.entity.CmsPrefrenceAreaProductRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_prefrence_area_product_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prefrenceAreaId != null">
        prefrence_area_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prefrenceAreaId != null">
        #{prefrenceAreaId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.felix.mall.entity.CmsPrefrenceAreaProductRelation">
    update cms_prefrence_area_product_relation
    <set>
      <if test="prefrenceAreaId != null">
        prefrence_area_id = #{prefrenceAreaId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.felix.mall.entity.CmsPrefrenceAreaProductRelation">
    update cms_prefrence_area_product_relation
    set prefrence_area_id = #{prefrenceAreaId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>